<section class="hero">
    <div>
        <div class="profile">
            <div class="photo-container">
                <img class="profile-picture" src="/media/perfil/profile_picture.PNG" alt="">
            </div>
            <h2 class="h3">Hi! I'm Halley Star 🤟🏼</h2>
            <h1 class="hero">Duis tincidunt <br>sapien, tincidunt, tinunt aliquet.</h1>
            <p class="is-medium">A <strong>Full-Stack Developer</strong> and <strong>e-commerce consultant</strong> in CDMX.<br>
            I specialize in Responsive Web Design,<br> CraftCMS and Shopify Development.
            </p>
            <a href="#" class="button">Let's talk!</a>
        </div>
    </div>
</section>