<section class="hero">
    <div>
        <div class="profile">
            <div class="photo-container">
                <img class="profile-picture" src="/media/perfil/profile_picture.PNG" alt="">
            </div>
            <h2 class="h3">Hi! I'm Halley Star 🤟🏼</h2>
            <h1 class="hero">Duis tincidunt <br>sapien tincidunt tincidunt aliquet.</h1>
            <p class="is-large">Duis tincidunt sapien at enim tincidunt, vel pharetra ex aliquet. Integer sodales lorem ante, ac bibendum lorem sagittis nec. Sed sodales id lectus sit amet accumsan.</p>
            <a href="#" class="button">Let's talk!</a>
        </div>
    </div>
</section>